@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
*{
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
  color: #E0E2E3;
}
html{
}
body{
  min-height: 100vh;
  margin: 0;
}
section.slide{
  min-height: 100vh;
  background-color: #30474F;
  padding: 10px 20px;
}
section.slide:first-of-type{
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)), url('./../img/bg.jpg');
  background-size: cover;
  background-position: center;
}
div.page-title{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 300px;

  text-align: center;
  color: #fff;
}
#graphCanvas{
  width: 70vmin;
  height: 70vmin;

  border: 2px solid #6C97A6;
}


footer{
  position: fixed;
  bottom: 0;
  left: 0; right: 0;

  text-align: center;
  color: #fff;
}

@media (min-width: 30em) {
  div.page-title{
    font-size: 2em;
  }
}
